@tailwind base;
@tailwind components;
@tailwind utilities;


.btn:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.active {
  color: #000000;
  padding: 1rem;
  font-style: italic
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-black;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] text-black;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px] text-black;
  }
  .btn {
    @apply font-primary text-black font-medium italic bg-isabelline hover:text-reseda flex items-center cursor-pointer;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
